<template>
    <div class="container">
        
        <div class="row justify-content-center">
            
            <div class="col-md-6">
                
                <h2>Add new user</h2>

                <form @submit.prevent="createUser">
                    <div class="form-group">
                        <label for="email">Email address</label>
                        <input type="email" class="form-control" id="email" aria-describedby="emailHelp" v-model="email">
                    </div>  
                    <div class="form-group">
                        <label for="name">Name</label>
                        <input type="text" class="form-control" id="name" v-model="name">
                    </div>
                    <div class="form-group">
                        <label for="image">Avatar</label>
                        <input type="file" class="form-control" id="image" @change="onImageSelected">
                    </div>
        
                    <button type="submit" class="btn btn-primary">Submit</button>
                </form> 
            </div>
        
        </div>
    </div>
</template>

<script>
import { mapActions } from 'vuex'

export default {
    data() {
        return {
            name: '',
            email: '',
            avatar: ''
        }
    },

    methods: {
        ...mapActions('user',['addUser']),

        createUser() {

            this.addUser({
                name: this.name,
                email: this.email,
                avatar: this.avatar
            });

            this.$router.push('/users');
        },

        onImageSelected(e) {

            const file = e.target.files[0];
            this.avatar = URL.createObjectURL(file);
            
        }
    }
}
</script>

<style scoped>

@import'~bootstrap/dist/css/bootstrap.css'
</style>