<template>
    <div class="container">
        
        <div class="row justify-content-center">
            
            <div class="col-md-6">
                
                <h2>Edit user</h2>

                <form @submit.prevent="onUpdateUser">
                    <div class="form-group">
                        <label for="email">Email address</label>
                        <input type="email" class="form-control" id="email" aria-describedby="emailHelp"  v-model="email">
                    </div>  
                    <div class="form-group">
                        <label for="name">Name</label>
                        <input type="text" class="form-control" id="name" v-model="name">
                    </div>
                    <div class="form-group">
                        <label for="image">Avatar</label>
                        <input type="file" class="form-control" id="image" @change="onImageSelected">
                    </div>
        
                    <button type="submit" class="btn btn-primary">Submit</button>
                </form> 
            </div>
        </div>
        <div class="row">
             <button class="btn btn-danger" @click="onDelete(user.id)">Delete</button>
        </div>
    </div>
</template>

<script>
import { mapGetters, mapActions } from 'vuex'

export default {
    
    data() {
        return {
            name: '',
            email: '',
            avatar: ''
        }
    },

    created() {
        this.fetchUserById(this.$route.params.id);
    },
    
    computed: {
         ...mapGetters('user',['getUserById']),

        user() {
             return this.getUserById(this.$route.params.id)
            
        }
    },

    methods: {
        ...mapActions('user',['fetchUserById', 'updateUser', 'deleteUser']),

        onUpdateUser() {
            this.updateUser({
                id: this.$route.params.id,
                name: this.name,
                email: this.email,
                avatar: this.avatar
            });

            this.$router.back();
        },

        onDelete(id) {
            this.deleteUser(id);

            this.$router.push('/users');
        },

         onImageSelected(e) {

            const file = e.target.files[0];
            this.avatar = URL.createObjectURL(file);   
        }
    }

}
</script>>