<template>
  <div>
    <div>
      <h2>Users list</h2>
        <div class="container">
            

            <div class="row mb-3">
                <router-link to="users/add" class="btn btn-primary">Add user</router-link>
            </div>

            <div class="row justify-content-center mb-3">
              <div class="">
                <label for="search-element">Search user</label>
                <input v-model="searchKey" class="form-control" id="search-element" />
            </div>
            </div>

            <div class="row">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th scope="col">Id</th>
                            <th scope="col">Name</th>
                            <th scope="col">Email</th>
                            <th scope="col">Avatar</th>
                            
                        </tr>
                    </thead>
                    <tbody>
                        <tr v-for="user in filterUsers" :key="user.id">
                            <th scope="row">{{ user.id }}</th>
                            <td> <router-link :to="{name: 'user', params: {id: user.id}}"> {{ user.name }} </router-link></td>
                            <td> {{ user.email }} </td>
                            <td> <img :src="user.avatar" alt=""> </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        
    </div>
  </div>
</template>

<script>
import { mapGetters, mapActions } from 'vuex'


export default {
  components: {
    
  },

  data() {
      return {
        searchKey: ''
      }
  },

  mounted() {
     this.fetchUsers();
  },

  computed: {
    ...mapGetters('user',['filteredByNameUsers']),

    filterUsers() {
      return this.filteredByNameUsers(this.searchKey);
    }
  },

  methods: {
    ...mapActions('user',['fetchUsers'])
  },

}
</script>

<style scoped>

@import'~bootstrap/dist/css/bootstrap.css'
</style>