<template>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="card">
                    <div class="row no-glutters">
                        <div class="col-md-4">
                            <img :src="user.avatar" class="card-img" alt="...">
                        </div>
                        <div class="col-md-8">
                            <div class="card-body">
                                
                                <h5 class="card-title">{{ user.name }}</h5>
                                <p class="card-text">{{ user.email }}</p>
                                
                                <router-link :to="{name: 'user-edit', params: {id: user.id}}" class="btn btn-warning mr-1">Edit</router-link>
                                
                                
                            </div>
                        </div>
                            
                    </div>    
                </div>
            </div>
        </div>
        <div class="row">
            <router-link to='/users'>back</router-link>
        </div>
    
    </div>
</template>

<script>
import { mapActions, mapGetters } from 'vuex'

export default {
    
    
    created() {
        this.fetchUserById(this.$route.params.id);
    },
    
    computed: {
         ...mapGetters('user',['getUserById']),

        user() {
             return this.getUserById(this.$route.params.id)
            
        }
    },

    methods: {
        ...mapActions('user',['fetchUserById', 'deleteUser']),
    }
}
</script>

<style scoped>

@import'~bootstrap/dist/css/bootstrap.css'
</style>