<template>
  <div id="app">
    <div id="nav">
      <h1>Photo gallery application</h1>
      <hr>
      <NavBar />
      <hr>
    </div>
    <router-view/>
  </div>
</template>

<script>

import NavBar from '@/components/NavBar'

export default {
  name: 'app',
  components: {
    NavBar
  },
}
</script>

<style>
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}

#nav {
  padding: 30px;
}

#nav a {
  font-weight: bold;
  color: #2c3e50;
}

#nav a.router-link-exact-active {
  color: #42b983;
}
</style>
