<template>
    <div class="container">
        
        <div class="row justify-content-center">
            
            <div class="col-md-6">
                
                <h2>Add new album</h2>

                <form @submit.prevent="createUser">
                    <div class="form-group">
                        <label for="title">Title</label>
                        <input type="text" class="form-control" id="title" v-model="title">
                    </div>  
                    <div class="form-group">
                        <label for="userId">UserId</label>
                        <input type="text" class="form-control" id="userId" v-model="userId">
                    </div>
                    <div class="form-group">
                        <label for="preview">Preview</label>
                        <input type="file" class="form-control" id="preview" @change="onImageSelected">
                    </div>
        
                    <button type="submit" class="btn btn-primary">Submit</button>
                </form> 
            </div>
        
        </div>
    </div>
</template>

<script>
import { mapActions } from 'vuex'

export default {
    data() {
        return {
            title: '',
            userId: '',
            preview: ''
        }
    },

    methods: {
        ...mapActions('album',['addAlbum']),

        createUser() {

            this.addAlbum({
                title: this.title,
                userId: this.userId,
                preview: this.preview
            });

            this.$router.push('/albums');
        },

        onImageSelected(e) {

            const file = e.target.files[0];
            this.preview = URL.createObjectURL(file);
            
        }
    }
}
</script>

<style scoped>

@import'~bootstrap/dist/css/bootstrap.css'
</style>