<template>
    <div class="container">
        
        <div class="row mb-3">
            <router-link :to="{name: 'album-edit', params: {id: this.$route.params.id}}" class="btn btn-warning mr-1">Edit</router-link>
        </div>
        
        <div class="row">
            <div v-for="photo in allPhotos" :key="photo.id">
                <img :src="photo.thumbnailUrl" alt="">
            </div>    
        </div>        
    </div>
</template>

<script>
import {mapActions, mapGetters} from 'vuex'

export default {
    

    created() {
        this.fetchPhotosByAlbumId(this.$route.params.id)
    },

    computed: {
        ...mapGetters('photo',['allPhotos'])
    },

    methods: {
        ...mapActions('photo', ['fetchPhotosByAlbumId'])
    }
}
</script>>