<template>
  <div>
    <div>
      <h2>Albums list</h2>
        <div class="container">
            
            <div class="row mb-3">
                <router-link to="albums/add" class="btn btn-primary">Add album</router-link>
            </div>
            
            <div class="row">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th scope="col">Title</th>
                            <th scope="col">Preview</th>
                            <th scope="col">User id</th>
                            
                        </tr>
                    </thead>
                    <tbody>
                        <tr v-for="album in allAlbums" :key="album.id">
                            <td> <router-link :to="{name: 'album', params: {id: album.id}}"> {{ album.title }} </router-link></td>
                            <td> <img :src="album.preview" alt=""> </td>
                            <td> {{ album.userId }} </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        
    </div>
  </div>
</template>

<script>
import { mapGetters, mapActions } from 'vuex'


export default {
  components: {
    
  },

  data() {
      return {
        
      }
  },

  mounted() {
     this.fetchAlbums();
  },

  computed: {
    ...mapGetters('album',['allAlbums'])
  },

  methods: {
    ...mapActions('album',['fetchAlbums'])
  },

}
</script>

<style scoped>

@import'~bootstrap/dist/css/bootstrap.css'
</style>