<template>
    <div class="container">
        
        <div class="row justify-content-center">
            
            <div class="col-md-6">
                
                <h2>Edit album</h2>
            
                <form @submit.prevent="onUpdateAlbum">
                    <div class="form-group">
                        <label for="title">Title</label>
                        <input type="text" class="form-control" id="title" v-model="title">
                    </div>  
                    <div class="form-group">
                        <label for="userId">User Id</label>
                        <input type="text" class="form-control" id="userId" v-model="userId">
                    </div>
                    <div class="form-group">
                        <label for="preview">Preview</label>
                        <input type="file" class="form-control" id="preview" @change="onImageSelected">
                    </div>
        
                    <button type="submit" class="btn btn-primary">Submit</button>
                </form> 
            </div>
        </div>
        <div class="row">
             <button class="btn btn-danger" @click="onDelete(id)">Delete</button>
        </div>
    </div>
</template>

<script>
import { mapActions } from 'vuex'

export default {
    
    data() {
        return {
            id: this.$route.params.id,
            title: '',
            userId: '',
            preview: ''
        }
    },

    created() {
    
    },
    
    computed: {
         
    },

    methods: {
        ...mapActions('album',['updateAlbum', 'deleteAlbum']),

        onUpdateAlbum() {
            this.updateAlbum({
                id: this.$route.params.id,
                title: this.title,
                userId: this.userId,
                preview: this.preview
            });

            this.$router.back();
        },

        onDelete(id) {
            this.deleteAlbum(id);

            this.$router.push('/albums');
        },

         onImageSelected(e) {

            const file = e.target.files[0];
            this.preview = URL.createObjectURL(file);   
        }
    }

}
</script>>